body, form {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#recent-books-modal {
  display: none;
  position: absolute;
  width: 90%;
  height: 90%;
  border: 1px solid black;
  background: white;
  top: 5%;
  left: 5%;
  overflow: auto;
}

#close-recent-books-modal {
  position: fixed;
  background: red;
  color: white;
  border: none;
}

.recent-books-container {
  display: flex;
}

.recent-books-title {
  display: block;
}

.recent-books-chapter {
  display: block;
}

.recent-books-cover-image {
  display: block;
}

#recent-books-modal-nav-buttons {
  display: flex;
  justify-content: flex-end;
}

form {
  margin-top: 50px;
}

nav {
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  display: flex;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: end;
}

h2.signout, .my-list {
  margin: 10px 0;
}

label, input, button {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-title, .chapter-name {
  margin-top: 25px;
  margin-bottom: 25px;
}

.title-container {
  margin: 25px 0;
  font-size: 25px;
  font-weight: bold;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.chapter-button {
  font-size: 19px;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  margin: 15px 0;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}